os:
  - osx
  - linux
language: generic
sudo: required
dist: trusty
osx_image: xcode10.2
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
env:
  - SWIFT_VERSION=5.0
script:
  - swift package update
  - swift build
